.text-ribbon-primary {
  background-color: #4ab3ee;
}

.nav-bordered.nav-stacked > li.active > a, .nav-bordered.nav-stacked > li.active > a:hover, .nav-bordered.nav-stacked > li.active > a:focus {
    border-left-color: #4ab3ee;
}

.nav-bordered > li.active > a, .nav-bordered > li.active > a:hover, .nav-bordered > li.active > a:focus {
    font-weight: 700;
    color: #4ab3ee;
    border-bottom-color: #4ab3ee;
}

.nav-bordered > li > a:hover, .nav-bordered > a:focus {
    color: #4ab3ee;
    border-bottom-color: #4ab3ee;
}

a:hover,
a:focus {
  color: rgba(255, 255, 255,.75);
  text-decoration: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}
