.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  font-size:16px;
  text-align:left;
}
.line {
}
.arrow {
}
.flow_shape {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.icon {
}
.grand_story_ {
  font-family:'Courier';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:36px;
}
.adlib_hint {
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
  line-height:20px;
}
.droplist {
  font-family:'Courier';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
.checkbox {
  font-family:'Courier';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.table_cell {
}
.connector {
}
.text_field {
  font-family:'Courier';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
.cta_button_bold {
  font-family:'Tahoma-Bold', 'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
.ellipse {
}
.link_button {
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
.text_area {
  color:#000000;
  text-align:left;
}
.lorem_paragraph {
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
