.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
  font-size:16px;
}
.box_3 {
  font-size:16px;
}
.ellipse {
}
.shape {
}
.image {
}
.placeholder {
  font-size:16px;
}
.button {
  font-size:16px;
}
.primary_button {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.link_button {
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
.heading_1 {
  font-family:'Tahoma-Bold', 'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.annotated_sidebar {
  font-family:'Tahoma-Bold', 'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#FF0000;
  text-align:left;
}
.heading_2 {
  font-family:'Tahoma-Bold', 'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.grand_story_ {
  font-family:'Courier';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:36px;
}
.heading_3 {
  font-family:'Tahoma-Bold', 'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
.line {
}
.text_field {
  font-family:'Courier';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  font-family:'Courier';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
.flow_shape {
}
.connector {
}
.quote {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
.box_2_link {
  font-family:'Tahoma-Bold', 'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
  text-align:center;
}
.tag_link_hover {
  font-size:12px;
  color:#169BD5;
}
.icon {
}
.profile_tile {
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.heading_3_black {
  font-family:'Tahoma-Bold', 'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
.heading_3_white {
  font-family:'Tahoma-Bold', 'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
.grand_story_large_blue {
  font-family:'Courier-Bold', 'Courier Bold', 'Courier';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#169BD5;
  text-align:left;
  line-height:36px;
}
.checkbox_-_adlib {
  font-family:'Courier';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.adlib_hint {
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  text-align:center;
  line-height:20px;
}
.cta_button_bold {
  font-family:'Tahoma-Bold', 'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
.library_supertitle {
  font-family:'Tahoma-Bold', 'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
  line-height:normal;
}
.sidebar_annotation {
}
